html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}


/* Navigation Section */

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.top-navigation .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation .logo {
    height: 12rem;
    margin-top: -4rem;
}


/* Center of Page (introducation section) */

.introduction {
    background-image: url('../Images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.introduction h1,
.introduction h3 {
    text-align: center;
    color: white;
    font-weight: 300;
}

button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.123rem;
    margin: 0 auto;
    cursor: pointer;
    display: block;
}


/* Bottom of Page (icons) */
